{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Найти новость или статью</h1>
<h3>Сегодня {% current_time '%d %b %Y' %}</h3>
<h3> Всего {{ all_news|length }} NEWS</h3>
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

  <hr>
   {% if search %}
       <table>
          <tr>
               <td>Описание</td>
               <td>Дата добавления</td>
               <td>Текст</td>
           <tr>
           {% for new in search %}
           <tr>
               <td>{{ new.title|censor }}</td>
               <td>{{ new.dataCreation|date:'d M y ' }}</td>
               <td>{{ new.text|truncatewords:20|censor}}</td>
           {% endfor %}

       </table>
   <hr>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}